.wrapper {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 15px;
  background: white;
  color: #000000de;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 30vh;
  left: 30vw;
  z-index: 9999999;
}

.close-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.close-wrapper .btn-close {
  border: 1px solid black;
  border-radius: 8px;
  padding: 5px;
}
